# GOAL
- test integration with Heroku Clip

# PACKAGES

# PARAMETERS

In [4]:
import pandas as pd

# FUNCTIONS

# DATA WRANGLING

In [5]:
df=pd.read_csv('https://data.heroku.com/dataclips/uanzvysitborvyjhkwfjfkubjesv.csv')

In [6]:
df

,activity_id,user_id,talent_id,id,talent_id.1,xp_points,created_at,updated_at
0,8,11,20137,8,11474.0,100,2021-08-17 12:55:38.741421,2021-08-17 12:55:38.741421
1,9,11,20137,9,11401.0,70,2021-08-17 12:56:49.150849,2021-08-17 12:56:49.150849
2,10,11,20137,10,11457.0,70,2021-08-17 12:57:09.169366,2021-08-17 12:57:09.169366
3,10,11,20137,10,11457.0,70,2021-08-17 12:58:19.976532,2021-08-17 12:58:19.976532
4,9,11,20137,9,11401.0,70,2021-08-17 12:58:45.682862,2021-08-17 12:58:45.682862
...,...,...,...,...,...,...,...,...
237,26,27,20167,26,12069.0,140,2021-09-10 13:45:34.746228,2021-09-10 13:45:34.746228
238,22,27,20167,22,11835.0,100,2021-09-10 13:45:34.784247,2021-09-10 13:45:34.784247
239,27,33,20215,27,11972.0,10,2021-09-10 13:45:38.723188,2021-09-10 13:45:38.723188
240,27,24,20164,27,11972.0,10,2021-09-10 13:45:40.154265,2021-09-10 13:45:40.154265
241,25,34,20216,25,11957.0,140,2021-09-10 13:45:42.094926,2021-09-10 13:45:42.094926