# GOAL
- Calculate engagement KPIs

# PACKAGES

In [2]:
import pandas as pd
from google.oauth2 import service_account
import pandas_gbq

# PARAMETERS

In [3]:
project_id = "analytics-dev-308300"

credentials = service_account.Credentials.from_service_account_file(
    "../keys/gcp_key.json",
)

# FUNCTIONS

# DATA WRANGLING

In [11]:
query = """
SELECT * FROM dtm_engagement.ft_content_consumption
WHERE group_id=1818
"""
df=pd.read_gbq(query=query, credentials=credentials, project_id=project_id)

In [18]:
df['duration']=pd.to_datetime(df['completed_at'],utc=True)-pd.to_datetime(df['started_at'],utc=True)

In [23]:
df['duration']

0                 NaT
1                 NaT
2                 NaT
3                 NaT
4                 NaT
            ...
445   0 days 00:01:38
446   0 days 00:02:33
447   0 days 00:02:57
448               NaT
449               NaT
Name: duration, Length: 450, dtype: timedelta64[ns]

In [22]:
df.groupby(by=['set_id']).mean()

,group_id,user_id,set_tests,finished_tests,progress,cards,tests
set_id,,,,,,,
11401,1818.0,20167.533333,2.0,0.866667,43.666667,18.0,2.0
11433,1818.0,20167.533333,3.0,1.288889,43.755556,16.0,3.0
11457,1818.0,20167.533333,1.0,0.377778,38.888889,3.0,1.0
11474,1818.0,20167.533333,0.0,0.000000,43.755556,13.0,0.0
11508,1818.0,20167.533333,1.0,0.222222,38.340909,22.0,1.0
11682,1818.0,20167.533333,0.0,0.000000,24.444444,7.0,0.0
11717,1818.0,20167.533333,0.0,0.000000,37.777778,6.0,0.0
11724,1818.0,20167.533333,1.0,0.355556,35.555556,15.0,1.0